/*Start variables*/
:root {
    --primary-color :#28e98c;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}
/*
.page-content section ,
.page-content footer {
    position: relative;
    transition: 1s;
    top: 200px;

}*/
/*End variables*/
/*Start body style*/
body {
    scroll-behavior: smooth;
}
section {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}
footer {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}
.main-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1
}
.setting {
    background-color: #565656;
    z-index: 1;
}
.setting-nav {
    background-color: #565656;
    z-index: 1;
}
/*End body style*/

/*Start hire-me*/
.hire-me {
    position: fixed;
    left: 25px;
    top: 36px;
    max-width: 350px;
    padding: 30px;
    border: 1px solid #FFF;
    border-radius: 25px;
    color: #FFF;
    height: auto;
}
.hire-me .my-img img {
    max-width: 100%;
    border-radius: 25px;
    margin: 20px 0px;
}
@media(max-width:1200px) {
    .hire-me {
        position: relative;
        left: 50%;
        top: 10px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        max-width: 500px;
        padding: 30px;
        margin: 1px 0;
        height: auto;
    }
    .hire-me .my-img img {
        max-width: 365px;
    }
}
@media(max-width:992px) {
    .hire-me {
        position: relative;
        left: 50%;
        top: 10px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        max-width: 500px;
        padding: 30px;
        margin: 1px 0;
        height: auto;
    }
    .hire-me .my-img img {
        max-width: 350px;
    }
}
@media(max-width:768px) {
    .hire-me {
        position: relative;
        left: 50%;
        top: 10px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        max-width: 500px;
        padding: 30px;
        margin: 1px 0;
        height: auto;
    }
    .hire-me .my-img img {
        max-width: 70%;
    }
}
.hire-me .img-text {
    font-size: 14px;
    font-weight: 400;
}
.hire-me .paragraph-1 {
    text-transform: capitalize;
    font-weight: 500;
    margin: 0;
}
.hire-me .paragraph-2 {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
}
.hire-me .paragraph-3 {
    font-size: 16px;
    color: #999999;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.hire-me .mails a {
    font-size: 20px;
    color: #999999;
    border: 1px solid #FFF;
    border-radius: 50%;
    padding: 10px 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.hire-me .mails a:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);

}
.hire-me .btn {
    width: 100%;
    background-color: var(--primary-color);
    color: #000000;
    border-radius: 34px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 5px;
    line-height: 40px;
    border: 2px solid var(--primary-color);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.hire-me .btn:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}
/*End hire-me*/
/* Start setting box */
.setting-box {
    width: 80%;
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 1000;
    background: #191919;
    height: 100vh;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #FFF;
    padding: 125px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
@media(max-width: 768px) {
    .setting-box {
        width: 100%;
        right: -100%;
        padding: 125px 25px;
    }
    .setting-box .color-list{
        margin-left: 5px;
    }
}
.setting-box.open {
    right: 0;
}
.setting-box h2 {
    font-size: 40px;
    font-weight: 400;
}
.setting-box h3{
    font-size: 13px;
}
.setting-box .color-header{
    margin-bottom: 25px;
}

.setting-box .toggle {
    position: fixed;
    left: -2px;
    top: 60px;
    padding: 8px 10px;
    background: #1f1f1f;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
}
.icon{
    cursor: pointer;
}
.setting-box .setting-content .options{
    margin-top: 70px;
}
.setting-box .setting-content .color-list .row .active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    left: -5px;
    border: 2px solid #FFF;
    border-radius: 50%;
}
.setting-box .setting-content .color-list .row .active::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 13px;
    left: 13px;
    background-color: #FFF;
    border-radius: 50%;
}
.setting-box .setting-content .color-list span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.setting-box .setting-content .row span:not(.active)::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    left: -5px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: none;
}
.setting-box .setting-content .row span:not(.active)::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    top: 13px;
    left: 13px;
    background-color: #FFF;
    border-radius: 50%;
    display: none;
}
.setting-box .setting-content .color-list span:hover ~ .setting-box .setting-content .row span:not(.active)::after {
    display: block;
}
.setting-box .setting-content .color-list .c-1 {
    background-color: #93b4ff;
}
.setting-box .setting-content .color-list .c-2 {
    background-color: violet;
}
.setting-box .setting-content .color-list .c-3  {
    background-color: wheat;
}
.setting-box .setting-content .color-list .c-4  {
    background-color: turquoise;
}
.setting-box .setting-content .color-list .c-5  {
    background-color:blueviolet ;
}
.setting-box .setting-content .color-list .c-6 {
    background-color: brown;
}
.dimensional .row {
    margin: 40px 0px;
}
.dimensional .row a {
    text-decoration: none;
    color: #FFF;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.dimensional .row .active {
    text-decoration: line-through;
}
.dimensional .row a:hover {
    text-decoration: line-through;
}
.setting-box .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
/* End setting box */
/* Start alt-nav */
.alt-nav {
    width: 37%;
    position: fixed;
    top: 0;
    right: -80%;
    z-index: 3;
    background: #191919;
    height: 100vh;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #FFF;
    padding: 50px 90px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
@media(max-width: 768px) {
    .alt-nav {
        width: 90%;
        right: -90%;
    }
}
.alt-nav.open {
    right: 0;
}
.alt-nav h2 {
    font-size: 40px;
    font-weight: 400;
}
.alt-nav h3 {
    font-size: 25px;
    color: #999999;
    text-transform: capitalize;
}
.alt-nav .toggle-nav {
    position: fixed;
    right: 10%;
    top: 10%;
    background: #000;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.alt-nav .toggle-nav:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.nav-icon {
    cursor: pointer;
}
.alt-nav .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.alt-nav .sections-container {
    margin-top: 30px;
}
.alt-nav .sections-container li {
    margin-bottom: 15px;
    cursor: pointer;
}
.alt-nav .sections-container li:hover span {
    color: var(--primary-color);
}
.alt-nav .sections-container li:hover a {
    color: var(--primary-color);
}
.alt-nav .sections-container li span {
    font-size: 14px;
    color: #999999;
    margin-left: 10px;
    text-transform: capitalize;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.alt-nav .sections-container li a {
    text-decoration: none;
    color: #999999;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.alt-nav .social {
    margin-top: 30px;
}
.alt-nav .social h3 {
    margin: 50px 0px 30px;
}
@media (max-width: 768px) {
    .alt-nav .social h3 {
        margin: 22px 0px 15px;
    }
}
.alt-nav .social span {
    font-size: 15px;
    margin-right: 15px;
    color: #999999;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.alt-nav .social span:hover {
    color: var(--primary-color);
}
/* End setting box */
/* Start fixed sections */
.sections {
    position: fixed;
    right: 60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
@media(max-width: 991px) {
    .sections {
        display: none;
    }
}
.sections .sections-container {
    padding: 20px;
    border: 1px solid #999999;
    border-radius: 29px;
    background :#000000
}
.sections .sections-container li {
    margin: 17px 0;
}
.sections .sections-container li .icon {
    color: #999999;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.sections .sections-container li span {
    position: absolute;
    background-color: #404042;
    left: -91px;
    padding: 3px 17px;
    color: #FFF;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    line-height: 2;
    display: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.sections .sections-container li span::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #404042;
    position: absolute;
    right: -3px;
    top: 50%;
    -webkit-transform: rotate(54deg) skew(-8deg, -39deg);
        -ms-transform: rotate(54deg) skew(-8deg, -39deg);
            transform: rotate(54deg) skew(-8deg, -39deg);
    margin-top: -5px;
    z-index: 0;
}
.sections .sections-container li a :hover {
    color: var(--primary-color);
}
.sections .sections-container li a:hover + span {
    display: inline;
}
/* End fixed sections */
/* Start main container*/
.row.main-container {
    max-width: 100%;
    color: #FFF;
    margin: 0;
}
/* End main container*/
/* Strat intro section */
.intro {
    padding-top: 80px;
    color: #FFF;
}
.section-temp .section-head {
    font-size: 12px !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    border: 1px solid #565656;
    padding: 9px 20px;
    border-radius: 30px;
    margin-bottom: 53px !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    word-spacing: 10px;
}
.section-temp h2 {
    font-size: 78px;
    letter-spacing: -0.2px;
    line-height: 90px;
    margin-bottom: 43px;
    font-weight: 400;

}
@media(max-width:768px) {
    .section-temp h2 {
        font-size: 50px;
    }
    .intro .numerical {
        margin-top: 50px;
    }
}
.section-temp h2 span{
    color: var(--primary-color);
}
.section-temp p {
    max-width: 480px;
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 1.7;
    color: #999999;
}
.intro a {
    width: 120px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    border-radius: 50%;
    border: 1px solid #575757;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}
.intro a img {
    width: 100px;
    height: 100px;
    display: block;
    -webkit-animation: fa-spin 6s infinite linear;
            animation: fa-spin 6s infinite linear;
}
.intro a .arrow {
    font-size: 30px;
    color: #FFF;
    position: absolute;
}
.intro .numerical div {
    font-size: 72px;
    color: var(--primary-color);
    line-height: 56px;
    margin-bottom: 38px;
}
.intro .numerical p {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    line-height: 1.7;
    color: #999999;
    margin-top: 45px;
}
/* End intro section */
/* Start about section */
.about {
    padding-top: 40px;
}
.about .section-temp h2 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 33px;
    text-transform: capitalize;
}
.about .section-temp h2 span {
    font-weight: 400;
}
.about .section-temp p {
    max-width: 85%;
}
/* End about section */
/* Start Resume section */
.resume {
    padding-top: 80px;
}
.resume .section-temp h2 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 33px;

}
@media(max-width:768px) {
    .resume .section-temp h2 {
        font-size: 35px;
    }
}
.resume .item {
    position: relative;
    padding-left: 74px;
    padding-bottom: 68px;
}
.resume .three {
    padding-bottom: 0;
}
.resume .item::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -10px;
    width: 12px;
    height: 12px;
    background-color: #656565;
    border-radius: 50%;
}
.resume .item:hover ::after  {
   background-color: red;
}
.resume .item ::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -4px;
    width: 1px;
    height: 100%;
    background-color: #333333;
}
.resume .item span {
    display: block;
    margin-bottom: 28px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 17px;
    font-weight: 600;
}
.resume .one span {
    color: var(--primary-color);
}
.resume .item:hover span {
    color: var(--primary-color);
}
.resume .item:hover::after {
    background-color: var(--primary-color) ;
}
.resume .item h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #fff;
}
.resume .item p {
    font-size: 13px;
    color: #999999;
    margin-bottom: 18px;
}
/* End Resume section */
/* Start services section */
.services {
    padding-top: 80px;
}
.services .section-temp h2 {
    font-size: 48px;
    font-weight: 400;
}
.services .service {
    border: 1px solid #565656;
    border-radius: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    padding: 44px 48px 41px 48px;
    margin-bottom: 10px;
    color: #FFF;
}
.services .service:hover {
    border-color: var(--primary-color);
}
.services .service:hover span {
    text-decoration: underline;
}
.services .service .icon {
    position: absolute;
    right: 26px;
    top: 42px;
    font-size: 22px;
    color: var(--primary-color);
}
.services .service h3 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 8px;
    color: #fff;
}
.services .service p {
    font-size: 15px;
}
.services .service span {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin-top: 25px;
    cursor: pointer;
}
/* End services section */
/* Start Skills section */
.skills {
    padding-top: 80px;
}
.skills .section-temp h2 {
    font-size: 48px;
    font-weight: 400;
}
.skills .skill {
    margin-bottom: 50px;
    cursor: pointer;
}
.skills .skill .percent {
    padding: 65px 30px;
    border: 1px solid #99999999;
    border-radius: 47px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.skills .skill .percent img {
    width: 49px;
    height: 50px;
}
.skills .skill .percent span {
    display: block;
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}
.skills .skill p {
    margin-top: 15px;
    font-size: 20px;
}
.skills .skill:hover .percent {
    border-color: var(--primary-color);
}
/* End Skills section */
/* Start portfolios section */
.portfolios {
    padding-top: 80px;
}
.portfolios .row {
    margin-bottom: 60px;
}
.portfolios .row a {
    color: #FFF;
    text-decoration: none;
}
.portfolios .section-temp h2 {
    font-size: 48px;
    font-weight: 400;
}
.portfolios .port {
    height: 330px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.portfolios .port img {
    width: 100%;
    height: 100%;

}
.portfolios .port .btns {
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.portfolios .port .btns span {
    padding: 10px;
    background: #FFF;
    color: #000;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.portfolios .row p {
    font-size: 24px;
    margin-top: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}
.portfolios .row .col:hover span {
    background: #1f1f1f;
    color: #fff;
}
.portfolios .row .col-12:hover span {
    background: #1f1f1f;
    color: #fff;
}
.portfolios .row .min-col:hover span {
    background: #1f1f1f;
    color: #fff;
}
.portfolios .row :hover p  {
    text-decoration: underline;
}
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}
.popup .popup-content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 88%;
    border: 5px solid #FFF;
    border-radius: 5px;
    overflow: visible;
}
@media(min-width: 1286px) {
    .popup .popup-content {
        width: 75%;
    }

}
.popup .popup-content .caption {
    position: fixed;
    bottom: -40px;
    left: 0;
    font-size: 15px;
    color: #999999;
}
.popup .carousel-inner .carousel-item img {
    width: 100%;
}
.popup .popup-content .carousel-control-next-icon,
.popup .popup-content .carousel-control-prev-icon {
    width: 50px;
    height: 67px;
    position: absolute;
    display: none;
}
.popup .popup-content .carousel-control-prev-icon {
    left: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.popup .popup-content .carousel-control-next-icon {
    right: 10px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.popup .popup-content .carousel-control-next {
    right: -5px;
}
.popup .popup-content .carousel-control-next:hover .carousel-control-next-icon {
    display: block;
}
.popup .popup-content .carousel-control-prev:hover .carousel-control-prev-icon{
    display: block;
}
.popup .carousel-item {
    -webkit-transition:  .6s;
    -o-transition:  .6s;
    transition:  .6s;
}
.popup .popup-close {
    position: fixed;
    bottom: -46px;
    right: -2px;
    font-size: 40px;
    cursor: pointer;
    color: #99999999;
}
.popup .popup-close:hover {
    color: #FFF;
}
/* End portfolios section */
/* Start testimonials section */
.testimonials {
    padding: 80px 0px 150px 0;
}
.testimonials .section-head {
    font-size: 13px;
    color: #999;
}
.testimonials .section-head span {
    color: var(--primary-color);
}
.testimonials .section-temp h2 {
    font-size: 48px !important;
    font-weight: 400 !important;
}
.testimonials .sliders .slide {
    margin-bottom: -106px;
}
.testimonials .sliders .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.testimonials .sliders .row .person-image {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.testimonials .sliders .row .person-intro {
    text-transform: capitalize;
}
.testimonials .sliders .row .person-intro p {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    color: #999999;
}
.testimonials .sliders .row .person-intro p span {
    color: var(--primary-color);
}
.testimonials .sliders .carousel-inner .abstraction {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 400;
    margin: 35px 0;
}
.testimonials .sliders .carousel-inner a {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}
.testimonials .sliders .carousel-inner .carousel-item {
    padding: 43px 24px;
    padding-top: 30px;
    border: 2px solid #999999;
    border-radius: 25px;
    height: 400px;
}
@media(max-width: 365px) {
    .testimonials .sliders .carousel-inner .carousel-item {
        height: 500px;
    }
}
.testimonials .sliders .carousel-control-next {
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    top: -15px;
    left: 125px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.testimonials .sliders .carousel-control-prev {
    left: 25px;
    height: 50px;
    width: 50px;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    top: 35px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}
.testimonials .sliders .carousel-control-next:hover,
.testimonials .sliders .carousel-control-prev:hover {
    border-color: var(--primary-color);
}
.testimonials .slide-num {
    bottom: 26px;
    left: 86px;
    position: absolute;
    font-size: 16px;
    color: #999999;
}
.testimonials .slide-num span {
    color: #FFF;
}
/* End testimonials section */
/* Start Brands section */
.brands .brands-title {
    font-size: 17px;
    text-transform: uppercase;
    color: #FFF;
}
.brands .brands-conteainer .brand {
    position: relative;
    margin: 30px 0;
    cursor: pointer;
}
.brands .brands-conteainer .brand::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
.brands .brands-conteainer .brand:hover::after {
    opacity: 0;
}
.brands .brands-conteainer img {
    max-width: 100%;
}
/* End Brands section */
/* Strat Pricing section */
.pricing {
    padding-top: 80px;
}
.pricing .section-temp h2 {
    font-size: 48px !important;
    font-weight: 400 !important;
}
.pricing .section-head {
    font-size: 13px;
    color: #999;
}
.pricing .section-head span {
    color: var(--primary-color);
}
.pricing .package .right {
    color: #999999;
    font-size: 12px;
}
.pricing .package  {
    padding: 48px 35px;
    border: 2px solid #FFF;
    border-radius: 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.pricing .package:hover  {
    border-color: var(--primary-color);
}
.pricing .package .left {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}
.pricing .package .salary {
    color: #999999;
    font-size: 25px;
    margin-top: 25px;
    font-weight: 400;
    border-bottom: 1px solid #FFF;
    padding-bottom: 20px;
}
.pricing .package .salary span {
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 600;
}
.pricing .package ul  {
    margin: 50px 0;
}
.pricing .package ul li {
    color: #FFF;
    font-size: 15px;
    margin-bottom: 15px;
}
.pricing .package .pick-btn {
    color: #000;
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 10px 0;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    display: block;
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
.pricing .package .pick-btn:hover {
    color: var(--primary-color);
    background-color: transparent;
    border-color: var(--primary-color);
} 
.pricing .advice {
    color: #FFF;
    font-size: 15px;
    margin-top: 50px;
}
.pricing .advice a {
    color: var(--primary-color);
}
/* End Pricing section */
/* Start about section */
.contact{
    padding: 80px 0;
}
.contact h2 {
    font-size: 60px;
}
.contact p:last-child{
    color: #FFF;
    font-size: 28px;
}
.contact .row{
    border-bottom: 1px solid;
    margin-bottom: 30px;
}
.contact form .field,
.contact .message {
    height: 50px;
    margin-bottom: 15px;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 18px;
    width: 100%;
    padding: 0;
    display: block;
}
.contact form label {
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 400;
}
.contact form label span {
    color: #999999;
    font-size: 12px;
}
.contact form .field::-webkit-input-placeholder, .message::-webkit-input-placeholder {
    font-size: 20px;
    color: #999999;
    text-transform: capitalize;
}
.contact form .field::-moz-placeholder, .message::-moz-placeholder {
    font-size: 20px;
    color: #999999;
    text-transform: capitalize;
}
.contact form .field:-ms-input-placeholder, .message:-ms-input-placeholder {
    font-size: 20px;
    color: #999999;
    text-transform: capitalize;
}
.contact form .field::-ms-input-placeholder, .message::-ms-input-placeholder {
    font-size: 20px;
    color: #999999;
    text-transform: capitalize;
}
.contact form .field::placeholder,
.message::placeholder {
    font-size: 20px;
    color: #999999;
    text-transform: capitalize;
}
.contact form .form-control:focus,
.contact .message:focus,
.contact select:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
    color: #FFF;
}
.contact form .send {
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 30px;
}
.contact form .send:hover {
    background-color: transparent;
    color: var(--primary-color);
}
.contact .up {
    display: block;
    cursor: pointer;
}
.contact #up {
    visibility: hidden;
}

/* End about section */

/*Strat Style*/
/*End Style*/